body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: rgb(24,24,33);
background: linear-gradient(90deg, rgba(24,24,33,1) 15%, rgba(255,155,2,1) 100%, rgba(255,244,0,1) 100%);
}


header {
  text-align: right;
  display: flex;
  justify-content:right;
  width: 100%;
  padding: 20px;
  background: rgb(24,24,33);
background: linear-gradient(90deg, rgba(24,24,33,1) 15%, rgba(255,155,2,1) 100%, rgba(255,244,0,1) 100%);
 
  
  top: 0;
  left: 0;
  right: 0;
}


.filters {
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: fixed;
  top: 80px; /* A header alatt */
  left: 0;
  z-index: 10;
}


.profile {
  
  width: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: fixed;
  top: 80px;
  right: 0;  
  z-index: 10;
  display: block;  
}

body:not(.home) .profile {
  display: none;
}


.search-container {
  display: flex;
  gap: 10px;
  margin: 80px 0 20px 0; 
  width:72%;
  max-width: 1950px
}

.search-container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}


.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
}

.movie {
  width: 200px; 
  text-align: center;
}

.poster {
  width: 100%;
  height: 300px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.movie-title {
  font-size: 1em;
  font-weight: bold;
}