:root{
    --height: 90%;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(11.37% 47.06% 45.49%);
   
}
.center{
    margin: auto;
    width: 70%;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 65%;
}
.card{
    height: var(--height);
    padding: 10px;
}
#description{
    height: 55%;
    background-color: lightgray;
}
#poster{
    max-height: 100%;
}
nav{
    padding: 100px;
}
.right{
    position: relative;
    text-align: right;
}
