:root{
    --height: 90%;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(11.37% 47.06% 45.49%);
   
}
.center{
    margin: auto;
    width: 70%;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 65%;
}
.mainCard{
    min-height: 50%;
    height: 90%;
    padding: 10px;
}
.genre{
    background-color: lightgray;
    width: min-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}
#description{
    height: 55%;
    background-color: lightgray;
}
#poster{
    max-height: 100%;
    max-width: 100%;
}
nav{
    padding: 100px;
}
.right{
    position: relative;
    text-align: right;
}
div.padding{
    min-height: 10px;
    height: 1%;
}
