<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="SzMDB/public/css/style.css">
</head>
<body>
    <header>
        <ul class="navbar">
            <li class="navbar"><a href="/SzMDB/">Főoldal</a></li>
            <li class="navbar right"> <a href="#about">Felhasználó</a></li>
        </ul> 
    </header>
    <h1>404</h1>
    <p>Page not found<p>
    <p><a href="/SzMDB/">Ugrás a címlapra</a></p>
    <script src="SzMDB/public/javaScript/script.js"></script>
</body>
</html>