<!DOCTYPE html>
<html lang="huy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film hozzáadása</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="SzMDB/public/css/addMovie.css">
    <link rel="stylesheet" href="SzMDB/public/css/style.css">
</head>
<body>
    <header class="navigation-header">
        <nav>
            <div class="logo-container">
                <a href="/SzMDB/">SzMDB</a>
            </div>
            <div class="navigation-items" id="navigation-items">
                <!-- <a href="" id="addMovie" class="addMovie"></a> -->
                <a href="/SzMDB/public/kapcsolat/logout.php" id="logOut" class="addMovie"></a>
                <a href="login" id="loginProfile" class="addMovie">Bejelentkezés</a>
            </div>
            <div class="hamburger">
                <span id="openHam">&#9776;</span>
                <span id="closeHam">&#x2716;</span>
            </div>
        </nav>
    </header>

    
    <form id="addMovieForm">
        <div class="row center">
            <div class="col-sm-4">
                <div class="card text-center">
                    <input type="file" id="moviePoster" name="moviePoster" accept="image/*">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <label for="title">Cím: </label>
                    <input type="text" name="title" id="title" class="textInput">
                    <label for="description">Leírás:</label>
                    <textarea name="description" cols="40" rows="5" class="textInput"></textarea>
                    <p>
                        Sorozat-e:
                        <input type="checkbox" name="series" id="series">
                    </p>
                    <p>
                        <label for="">Megjelenési év:</label>
                        <input type="text" name="release" id="release">
                    </p>
                    <br>
                    <input type="submit" value="Feltöltés" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
    
    <script src="SzMDB/public/javaScript/addMovie.js"></script>
    <script src="SzMDB/public/javaScript/script.js"></script>
</body>
</html>