<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film hozzáadása</title>
</head>
<body>
    <form id="addMovieForm">
        <input type="file" id="moviePoster" name="moviePoster" accept="image/*">
        <label for="title">Cím: </label>
        <input type="text" name="title" id="title">
        <label for="description">Leírás</label>
        <input type="text" name="description" id="description">
        <input type="submit" value="Feltöltés">
    </form>

    <script src="SzMDB/public/javaScript/addMovie.js"></script>
</body>
</html>