<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bejelentkezés</title>
  <link rel="stylesheet" href="SzMDB/public/css/login.css">
  <link rel="stylesheet" href="SzMDB/public/css/fooldall.css">
</head>
<body>
  <div id="auth-container" class="auth-container">
    <h2>Bejelentkezés</h2>
    <div id="error-message" class="error"></div>
    <form id="login-form">
      <input type="email" id="email" placeholder="Email cím" required>
      <input type="password" id="password" placeholder="Jelszó" required>
      <button type="submit">Bejelentkezés</button>
    </form>
    <div class="footer">
      <div class="link" id="register-link">Még nincs fiókod? Regisztrálj!</div>
    </div>
  <script src="SzMDB/public/javaScript/login.js"></script>
  <script src="SzMDB/public/javaScript/script.js"></script>
</body>
</html>