<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="SzMDB/public/css/profill.css">
    <link rel="stylesheet" href="SzMDB/public/css/style.css">
    <title>Profil</title>
</head>
<body>
    <header class="navigation-header">
        <nav>
            <div class="logo-container">
                <a href="">SzMDB</a>
            </div>
            <div class="navigation-items" id="navigation-items">
                <a href="" id="addMovie" class="addMovie"></a>
                <a href="login" id="loginProfile" class="addMovie">Bejelentkezés</a>
            </div>
            <div class="hamburger">
                <span id="openHam">&#9776;</span>
                <span id="closeHam">&#x2716;</span>
            </div>
        </nav>
      </header> 
    <div class="profile-container">
        <img id="profile-picture" class="profile-picture" src="/SzMDB/public/img/default-profile.png" alt="Profilkép">
        <form id="profile-picture-form" enctype="multipart/form-data">
            <input type="file" id="profile-picture-input" name="profilePicture" accept="image/*" required>
            <button type="submit">Profilkép feltöltése</button>
        </form>
        <button id="remove-profile-picture-button">Profilkép eltávolítása</button>
    </div>
    <script src="SzMDB/public/javaScript/profil.js"></script>
    <script src="SzMDB/public/javaScript/script.js"></script>
</body>
</html>